@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  color-scheme: dark;
}
html {
  font-family: 'Onest', sans-serif;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}
body {
  /* background: rgb(54, 69, 91);
  background: linear-gradient(
    180deg,
    rgba(54, 69, 91, 1) 0%,
    rgba(72, 95, 130, 1) 46%,
    rgba(78, 110, 161, 1) 100%
  ); */
  background-image: url(header.png);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
